.btn-loader {
    width: 100%;
    position: relative;
    text-align: center;
}

.btn {
    outline: none;
}

.btn-primary-soft {
    color: #0f6fec;
    background-color: rgba(15, 111, 236, 0.1);
}


.btn-primary-soft:hover {
    color: #fff;
    background-color: #0f6fec;
}

.btn-loader.active .load-text {
    opacity: 0;
    visibility: hidden;
}

.btn-loader .load-text {
    opacity: 1;
    visibility: visible;
}

.btn-loader.active .load-icon {
    display: block;
}

.btn-loader .load-icon {
    display: none;
    margin: 0 auto;
    position: absolute;
    left: 0;
    right: 0;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
}

@media (prefers-reduced-motion: reduce) {

    .spinner-border,
    .spinner-grow {
        -webkit-animation-duration: 1.5s;
        animation-duration: 1.5s;
    }
}

.spinner-grow-sm {
    width: 1rem;
    height: 1rem;
}

.spinner-grow {
    display: inline-block;
    width: 2rem;
    height: 2rem;
    vertical-align: -0.125em;
    background-color: currentColor;
    border-radius: 50%;
    opacity: 0;
    -webkit-animation: 0.75s linear infinite spinner-grow;
    animation: 0.75s linear infinite spinner-grow;
}

/* .visually-hidden,
.visually-hidden-focusable:not(:focus):not(:focus-within) {
    position: absolute !important;
    width: 1px !important;
    height: 1px !important;
    padding: 0 !important;
    margin: -1px !important;
    overflow: hidden !important;
    clip: rect(0, 0, 0, 0) !important;
    white-space: nowrap !important;
    border: 0 !important;
} */