/* Btn loader width */
.btn-loader {
    width: 100%;
    position: relative;
    text-align: center;
    outline-style: none;
}



/* Button Active after click btn text hidden */
.btn-loader.active .load-text {
    opacity: 0;
    visibility: hidden;
}

.btn-loader .load-text {
    opacity: 1;
    visibility: visible;
}

/* Spinier hide active after btn click */
.btn-loader.active .load-icon {
    display: block;
}

.btn-loader .load-icon {
    display: none;
    margin: 0 auto;
    position: absolute;
    left: 0;
    right: 0;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
}