.card-header {
    background-color: white !important;
}

.avatar-img {
    width: 3rem;
    height: 3rem;
    -o-object-fit: cover;
    object-fit: cover;
}

.mb-3 {
    margin-bottom: 1rem !important;
}

.gap-2 {
    gap: 0.5rem !important;
}

.hstack {
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-item-align: stretch;
    align-self: stretch;
}

.amanda {
    border: 2px solid #0d6efd;
}