/* Btn Hover */
.btn-primary-soft {
    color: #0f6fec;
    background-color: rgba(15, 111, 236, 0.1);
}

.btn-primary-soft:hover {
    color: #fff;
    background-color: #0f6fec;
}

/* Title Hover */
.title {
    color: #29292e;
}

.title:hover {
    color: #0f6fec;
}



/* right Side H6 */

.h6,
h6 {
    font-size: 15px;
}

.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin-top: 0;
    margin-bottom: 0.5rem;
    font-weight: 500;
    line-height: 1.2;
}