.nav.nav-divider .nav-item+.nav-item:before {
    content: "•";
    color: inherit;
    padding-left: 0.6rem;
    padding-right: 0.6rem;
    opacity: 0.8;
}

textarea {
    border: none;
    background-color: transparent;
    resize: none;
    outline: none;
}


.form-control {
    display: block;
    width: 100%;
    padding: 0.5rem 1rem;
    font-size: 0.9375rem;
    font-weight: 400;
    line-height: 1.5;
    color: #29292e;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #e1e4e6;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: 0.4rem;
    -webkit-transition: border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
    transition: border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
}

input,
button,
select,
optgroup,
textarea {
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}

textarea {
    writing-mode: horizontal-tb !important;
    font-family: monospace;
    text-rendering: auto;
    color: fieldtext;
    letter-spacing: normal;
    word-spacing: normal;
    line-height: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    text-align: start;
    -webkit-rtl-ordering: logical;
    cursor: text;
    white-space: pre-wrap;
    overflow-wrap: break-word;
}



.lori-ferguson {
    color: #29292e;
    text-decoration: none;
}

/* Profile*/
.lori-img {
    border: #0f6fec 2px solid;

}

.billy-img {
    border: #0f6fec 2px solid;
}

.flip-horizontal {
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    display: inline-block;
}

.ps-1 {
    padding-left: 0.25rem !important;
}

.frances {
    color: #29292e;
    text-decoration: none;
}

.like {
    color: #29292e;

}

.position-relative {
    position: relative !important;
}

span {
    color: #676a79;
}

small {
    color: #676a79;
}

p {
    color: #676a79;
}

.nav-link {
    display: inline-block;
    padding: 0.25rem 0.75rem;
    color: #676a79;
    -webkit-transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out;
}

.active {
    color: #0f6fec;
}

.card-img:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    border-radius: 50%;
    border: 2px solid #0f6fec;
    z-index: -1;
}

.bootstrap-a {
    color: #29292e;
}

.sponsored {
    color: #676a79 !important;
    text-decoration: none;
}

.bootstrap-header {
    height: 100% !important;
}