.svg {
    width: 15%;
    margin: 5%;
}

.card-header {
    height: 50px !important;
}



.mt-n5 {
    margin-top: -3rem !important;
}


.profile-left-img {
    height: 4rem;
    width: 4rem;
    margin-left: 35px;
    position: absolute;
    display: inline-block;
    -ms-flex-negative: 0 !important;
    flex-shrink: 0 !important;
}

.text-head {
    margin-top: 30px;
}

.text-head:hover {
    color: #0f6fec;
}

.card-down {
    color: black;
}

.card-down:hover {
    color: #0f6fec;
}