.svg {
    width: 15%;
    margin: 5%;
}

.card-header {
    height: 50px !important;
}



.avatar-profile {
    margin-top: -2.3rem !important;
}


.avatar-profile {
    height: 4rem;
    width: 4rem;
    margin-left: 15px;
    position: absolute;
    display: inline-block;
    -ms-flex-negative: 0 !important;
    flex-shrink: 0 !important;
    border: 3px #fff solid;
}

.text-head {
    margin-top: 40px;
}

.text-head:hover {
    color: #0f6fec;
}

.card-down {
    color: #14191e;
}

.card-down:hover {
    color: #0f6fec;
}

h6 {
    color: #14191e;
}

.card-title {
    color: #14191e;
}