/*Generals Section  */

:root {
    --bs-blue: #0d6efd;
    --bs-indigo: #6610f2;
    --bs-purple: #6f42c1;
    --bs-pink: #d63384;
    --bs-red: #dc3545;
    --bs-orange: #fd7e14;
    --bs-yellow: #ffc107;
    --bs-green: #198754;
    --bs-teal: #20c997;
    --bs-cyan: #0dcaf0;
    --bs-white: #fff;
    --bs-gray: #6c757d;
    --bs-gray-dark: #343a40;
    --bs-gray-100: #f8f9fa;
    --bs-gray-200: #e9ecef;
    --bs-gray-300: #dee2e6;
    --bs-gray-400: #ced4da;
    --bs-gray-500: #adb5bd;
    --bs-gray-600: #6c757d;
    --bs-gray-700: #495057;
    --bs-gray-800: #343a40;
    --bs-gray-900: #212529;
    --bs-primary: #0f6fec;
    --bs-secondary: #14191e;
    --bs-success: #0cbc87;
    --bs-info: #4f9ef8;
    --bs-warning: #f7c32e;
    --bs-danger: #d6293e;
    --bs-light: #eef0f2;
    --bs-dark: #14191e;
    --bs-primary-rgb: 15, 111, 236;
    --bs-secondary-rgb: 20, 25, 30;
    --bs-success-rgb: 12, 188, 135;
    --bs-info-rgb: 79, 158, 248;
    --bs-warning-rgb: 247, 195, 46;
    --bs-danger-rgb: 214, 41, 62;
    --bs-light-rgb: 238, 240, 242;
    --bs-dark-rgb: 20, 25, 30;
    --bs-white-rgb: 255, 255, 255;
    --bs-black-rgb: 0, 0, 0;
    --bs-body-color-rgb: 103, 106, 121;
    --bs-body-bg-rgb: 239, 242, 246;
    --bs-font-sans-serif: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    --bs-font-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
    --bs-gradient: linear-gradient(180deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0));
    --bs-body-font-family: Inter, sans-serif;
    --bs-body-font-size: 0.9375rem;
    --bs-body-font-weight: 400;
    --bs-body-line-height: 1.5;
    --bs-body-color: #676a79;
    --bs-body-bg: #eff2f6;
}

:host,
:root {
    --fa-font-solid: normal 900 1em/1 "Font Awesome 6 Free";
}

/*Generals Section Exit  */






@media (min-width: 0px) {
    /* Chat Icon Right Side */

    .icon-md {
        height: 2.5rem;
        width: 2.5rem;
        font-size: 0.9em;
        display: -webkit-inline-box;
        display: -ms-inline-flexbox;
        display: inline-flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
    }

    /* Chat Icon Right Side */

    /* Left Side Article */
    .svg {
        width: 15%;
        margin: 5%;
    }

    .card-header {
        height: 50px !important;
    }



    .avatar-profile {
        margin-top: -2.3rem !important;
    }


    .avatar-profile {
        height: 4rem;
        width: 4rem;
        margin-left: 20px;
        position: absolute;
        display: inline-block;
        -ms-flex-negative: 0 !important;
        flex-shrink: 0 !important;
        border: 3px #fff solid;
    }

    .text-head {
        margin-top: 40px;
    }

    .text-head:hover {
        color: #0f6fec;
    }

    .card-down {
        color: #14191e;
    }

    .card-down:hover {
        color: #0f6fec;
    }

    h6 {
        color: #14191e;
    }

    .card-title {
        color: #14191e;
    }

    /* Left Side Article Exit */
    /* Right Side Article One */
    /* Btn Hover */
    .btn-primary-soft {
        color: #0f6fec;
        background-color: rgba(15, 111, 236, 0.1);
    }

    .btn-primary-soft:hover {
        color: #fff;
        background-color: #0f6fec;
    }

    /* Title Hover */
    .title {
        color: #29292e;
    }

    .title:hover {
        color: #0f6fec;
    }



    /* right Side H6 */

    .h6,
    h6 {
        font-size: 15px;
    }

    .h1,
    .h2,
    .h3,
    .h4,
    .h5,
    .h6,
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        margin-top: 0;
        margin-bottom: 0.5rem;
        font-weight: 500;
        line-height: 1.2;
    }



    /* Right Side Article One Exit */

    /* Right Side Article Two */

    /* Heading Icons */

    .card-header {
        background-color: white !important;
    }

    .avatar-img {
        width: 3rem;
        height: 3rem;
        -o-object-fit: cover;
        object-fit: cover;
    }

    .mb-3 {
        margin-bottom: 1rem !important;
    }

    .gap-2 {
        gap: 0.5rem !important;
    }

    .hstack {
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-direction: row;
        flex-direction: row;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -ms-flex-item-align: stretch;
        align-self: stretch;
    }

    .amanda {
        border: 2px solid #0d6efd;
    }

    /* Heading Icon Exit */

    /* icon */
    .fa-solid,
    .fas {
        font-family: "Font Awesome 6 Free";
        font-weight: 900;
    }

    .fa,
    .fa-brands,
    .fa-duotone,
    .fa-light,
    .fa-regular,
    .fa-solid,
    .fa-thin,
    .fab,
    .fad,
    .fal,
    .far,
    .fas,
    .fat {
        -moz-osx-font-smoothing: grayscale;
        -webkit-font-smoothing: antialiased;
        display: var(--fa-display, inline-block);
        font-style: normal;
        font-variant: normal;
        line-height: 1;
        text-rendering: auto;
    }



    /* Right Side Article Two Exit */

    /* Main Content Section */

    /* Second upload img and video etc. */

    .text-MainSecondCard {
        color: #676a79;
    }

    .text-MainSecondCard:hover {
        color: #0f6fec;
    }

    textarea {
        border: none;
        background-color: transparent;
        resize: none;
        outline: none;
    }

    /* Second Upload img and video etc. Exit */

    /* Lori Ferguson News Feed Section */
    .form-control {
        display: block;
        width: 100%;
        padding: 0.5rem 1rem;
        font-size: 0.9375rem;
        font-weight: 400;
        line-height: 1.5;
        color: #29292e;
        background-color: #fff;
        background-clip: padding-box;
        border: 1px solid #e1e4e6;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        border-radius: 0.4rem;
        -webkit-transition: border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
        transition: border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
        transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
        transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
    }

    input,
    button,
    select,
    optgroup,
    textarea {
        margin: 0;
        font-family: inherit;
        font-size: inherit;
        line-height: inherit;
    }

    textarea {
        writing-mode: horizontal-tb !important;
        font-family: monospace;
        text-rendering: auto;
        color: fieldtext;
        letter-spacing: normal;
        word-spacing: normal;
        line-height: normal;
        text-transform: none;
        text-indent: 0px;
        text-shadow: none;
        text-align: start;
        -webkit-rtl-ordering: logical;
        cursor: text;
        white-space: pre-wrap;
        overflow-wrap: break-word;
    }



    .lori-ferguson {
        color: #29292e;
        text-decoration: none;
    }

    /* Profile*/
    .lori-img {
        border: #0f6fec 2px solid;

    }

    /* Lori Ferguson News Feed Section Exit */


    /* Main Content Section Exit */
}



@media (min-width: 280px) {

    /* Chat Icon Right Side */

    .icon-md {
        height: 2.5rem;
        width: 2.5rem;
        font-size: 0.9em;
        display: -webkit-inline-box;
        display: -ms-inline-flexbox;
        display: inline-flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
    }

    /* Chat Icon Right Side */

    /* Left Side Article */
    .svg {
        width: 15%;
        margin: 5%;
    }

    .card-header {
        height: 50px !important;
    }



    .avatar-profile {
        margin-top: -2.3rem !important;
    }


    .avatar-profile {
        height: 4rem;
        width: 4rem;
        margin-left: 20px;
        position: absolute;
        display: inline-block;
        -ms-flex-negative: 0 !important;
        flex-shrink: 0 !important;
        border: 3px #fff solid;
    }

    .text-head {
        margin-top: 40px;
    }

    .text-head:hover {
        color: #0f6fec;
    }

    .card-down {
        color: #14191e;
    }

    .card-down:hover {
        color: #0f6fec;
    }

    h6 {
        color: #14191e;
    }

    .card-title {
        color: #14191e;
    }

    /* Left Side Article Exit */
    /* Right Side Article One */
    /* Btn Hover */
    .btn-primary-soft {
        color: #0f6fec;
        background-color: rgba(15, 111, 236, 0.1);
    }

    .btn-primary-soft:hover {
        color: #fff;
        background-color: #0f6fec;
    }

    /* Title Hover */
    .title {
        color: #29292e;
    }

    .title:hover {
        color: #0f6fec;
    }



    /* right Side H6 */

    .h6,
    h6 {
        font-size: 15px;
    }

    .h1,
    .h2,
    .h3,
    .h4,
    .h5,
    .h6,
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        margin-top: 0;
        margin-bottom: 0.5rem;
        font-weight: 500;
        line-height: 1.2;
    }



    /* Right Side Article One Exit */

    /* Right Side Article Two */

    /* Heading Icons */

    .card-header {
        background-color: white !important;
    }

    .avatar-img {
        width: 3rem;
        height: 3rem;
        -o-object-fit: cover;
        object-fit: cover;
    }

    .mb-3 {
        margin-bottom: 1rem !important;
    }

    .gap-2 {
        gap: 0.5rem !important;
    }

    .hstack {
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-direction: row;
        flex-direction: row;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -ms-flex-item-align: stretch;
        align-self: stretch;
    }

    .amanda {
        border: 2px solid #0d6efd;
    }

    /* Heading Icon Exit */

    /* icon */
    .fa-solid,
    .fas {
        font-family: "Font Awesome 6 Free";
        font-weight: 900;
    }

    .fa,
    .fa-brands,
    .fa-duotone,
    .fa-light,
    .fa-regular,
    .fa-solid,
    .fa-thin,
    .fab,
    .fad,
    .fal,
    .far,
    .fas,
    .fat {
        -moz-osx-font-smoothing: grayscale;
        -webkit-font-smoothing: antialiased;
        display: var(--fa-display, inline-block);
        font-style: normal;
        font-variant: normal;
        line-height: 1;
        text-rendering: auto;
    }



    /* Right Side Article Two Exit */

    /* Main Content Section */

    /* Second upload img and vide etc. */

    .text-MainSecondCard {
        color: #676a79;
    }

    .text-MainSecondCard:hover {
        color: #0f6fec;
    }

    textarea {
        border: none;
        background-color: transparent;
        resize: none;
        outline: none;
    }

    /* Second Upload img and video etc. Exit */

    /* Lori Ferguson News Feed Section */
    .form-control {
        display: block;
        width: 100%;
        padding: 0.5rem 1rem;
        font-size: 0.9375rem;
        font-weight: 400;
        line-height: 1.5;
        color: #29292e;
        background-color: #fff;
        background-clip: padding-box;
        border: 1px solid #e1e4e6;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        border-radius: 0.4rem;
        -webkit-transition: border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
        transition: border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
        transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
        transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
    }

    input,
    button,
    select,
    optgroup,
    textarea {
        margin: 0;
        font-family: inherit;
        font-size: inherit;
        line-height: inherit;
    }

    textarea {
        writing-mode: horizontal-tb !important;
        font-family: monospace;
        text-rendering: auto;
        color: fieldtext;
        letter-spacing: normal;
        word-spacing: normal;
        line-height: normal;
        text-transform: none;
        text-indent: 0px;
        text-shadow: none;
        text-align: start;
        -webkit-rtl-ordering: logical;
        cursor: text;
        white-space: pre-wrap;
        overflow-wrap: break-word;
    }



    .lori-ferguson {
        color: #29292e;
        text-decoration: none;
    }

    /* Profile*/
    .lori-img {
        border: #0f6fec 2px solid;

    }

    /* Lori Ferguson News Feed Section Exit */

    /* Main Content Section Exit */
}

@media (min-width: 375px) {

    /* Left Side Article */
    .svg {
        width: 15%;
        margin: 5%;
    }

    .card-header {
        height: 50px !important;
    }



    .avatar-profile {
        margin-top: -2.3rem !important;
    }


    .avatar-profile {
        height: 4rem;
        width: 4rem;
        margin-left: 65px;
        position: absolute;
        display: inline-block;
        -ms-flex-negative: 0 !important;
        flex-shrink: 0 !important;
        border: 3px #fff solid;
    }

    .text-head {
        margin-top: 40px;
    }

    .text-head:hover {
        color: #0f6fec;
    }

    .card-down {
        color: #14191e;
    }

    .card-down:hover {
        color: #0f6fec;
    }

    h6 {
        color: #14191e;
    }

    .card-title {
        color: #14191e;
    }

    /* Left Side Article Exit */
    /* Right Side Article One */
    /* Btn Hover */
    .btn-primary-soft {
        color: #0f6fec;
        background-color: rgba(15, 111, 236, 0.1);
    }

    .btn-primary-soft:hover {
        color: #fff;
        background-color: #0f6fec;
    }

    /* Title Hover */
    .title {
        color: #29292e;
    }

    .title:hover {
        color: #0f6fec;
    }



    /* right Side H6 */

    .h6,
    h6 {
        font-size: 15px;
    }

    .h1,
    .h2,
    .h3,
    .h4,
    .h5,
    .h6,
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        margin-top: 0;
        margin-bottom: 0.5rem;
        font-weight: 500;
        line-height: 1.2;
    }



    /* Right Side Article One Exit */

    /* Right Side Article Two */

    /* Heading Icons */

    .card-header {
        background-color: white !important;
    }

    .avatar-img {
        width: 3rem;
        height: 3rem;
        -o-object-fit: cover;
        object-fit: cover;
    }

    .mb-3 {
        margin-bottom: 1rem !important;
    }

    .gap-2 {
        gap: 0.5rem !important;
    }

    .hstack {
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-direction: row;
        flex-direction: row;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -ms-flex-item-align: stretch;
        align-self: stretch;
    }

    .amanda {
        border: 2px solid #0d6efd;
    }

    /* Heading Icon Exit */

    /* icon */
    .fa-solid,
    .fas {
        font-family: "Font Awesome 6 Free";
        font-weight: 900;
    }

    .fa,
    .fa-brands,
    .fa-duotone,
    .fa-light,
    .fa-regular,
    .fa-solid,
    .fa-thin,
    .fab,
    .fad,
    .fal,
    .far,
    .fas,
    .fat {
        -moz-osx-font-smoothing: grayscale;
        -webkit-font-smoothing: antialiased;
        display: var(--fa-display, inline-block);
        font-style: normal;
        font-variant: normal;
        line-height: 1;
        text-rendering: auto;
    }



    /* Right Side Article Two Exit */

    /* Main Content Section */

    /* Second upload img and vide etc. */

    .text-MainSecondCard {
        color: #676a79;
    }

    .text-MainSecondCard:hover {
        color: #0f6fec;
    }

    textarea {
        border: none;
        background-color: transparent;
        resize: none;
        outline: none;
    }

    /* Second Upload img and video etc. Exit */

    /* Lori Ferguson News Feed Section */
    .form-control {
        display: block;
        width: 100%;
        padding: 0.5rem 1rem;
        font-size: 0.9375rem;
        font-weight: 400;
        line-height: 1.5;
        color: #29292e;
        background-color: #fff;
        background-clip: padding-box;
        border: 1px solid #e1e4e6;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        border-radius: 0.4rem;
        -webkit-transition: border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
        transition: border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
        transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
        transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
    }

    input,
    button,
    select,
    optgroup,
    textarea {
        margin: 0;
        font-family: inherit;
        font-size: inherit;
        line-height: inherit;
    }

    textarea {
        writing-mode: horizontal-tb !important;
        font-family: monospace;
        text-rendering: auto;
        color: fieldtext;
        letter-spacing: normal;
        word-spacing: normal;
        line-height: normal;
        text-transform: none;
        text-indent: 0px;
        text-shadow: none;
        text-align: start;
        -webkit-rtl-ordering: logical;
        cursor: text;
        white-space: pre-wrap;
        overflow-wrap: break-word;
    }



    .lori-ferguson {
        color: #29292e;
        text-decoration: none;
    }

    /* Profile*/
    .lori-img {
        border: #0f6fec 2px solid;

    }

    /* Lori Ferguson News Feed Section Exit */

    /* Main Content Section Exit */
}


@media (min-width: 576px) {

    /* Left Side Article */
    .svg {
        width: 15%;
        margin: 5%;
    }

    .card-header {
        height: 50px !important;
    }



    .avatar-profile {
        margin-top: -2.3rem !important;
    }


    .avatar-profile {
        height: 4rem;
        width: 4rem;
        margin-left: 150px;
        position: absolute;
        display: inline-block;
        -ms-flex-negative: 0 !important;
        flex-shrink: 0 !important;
        border: 3px #fff solid;
    }

    .text-head {
        margin-top: 40px;
    }

    .text-head:hover {
        color: #0f6fec;
    }

    .card-down {
        color: #14191e;
    }

    .card-down:hover {
        color: #0f6fec;
    }

    h6 {
        color: #14191e;
    }

    .card-title {
        color: #14191e;
    }

    /* Left Side Article Exit */

    /* Right Side Article One */
    /* Btn Hover */
    .btn-primary-soft {
        color: #0f6fec;
        background-color: rgba(15, 111, 236, 0.1);
    }

    .btn-primary-soft:hover {
        color: #fff;
        background-color: #0f6fec;
    }

    /* Title Hover */
    .title {
        color: #29292e;
    }

    .title:hover {
        color: #0f6fec;
    }



    /* right Side H6 */

    .h6,
    h6 {
        font-size: 15px;
    }

    .h1,
    .h2,
    .h3,
    .h4,
    .h5,
    .h6,
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        margin-top: 0;
        margin-bottom: 0.5rem;
        font-weight: 500;
        line-height: 1.2;
    }



    /* Right Side Article One Exit */

    /* Right Side Article Two */

    /* Heading Icons */

    .card-header {
        background-color: white !important;
    }

    .avatar-img {
        width: 3rem;
        height: 3rem;
        -o-object-fit: cover;
        object-fit: cover;
    }

    .mb-3 {
        margin-bottom: 1rem !important;
    }

    .gap-2 {
        gap: 0.5rem !important;
    }

    .hstack {
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-direction: row;
        flex-direction: row;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -ms-flex-item-align: stretch;
        align-self: stretch;
    }

    .amanda {
        border: 2px solid #0d6efd;
    }

    /* Heading Icon Exit */

    /* icon */
    .fa-solid,
    .fas {
        font-family: "Font Awesome 6 Free";
        font-weight: 900;
    }

    .fa,
    .fa-brands,
    .fa-duotone,
    .fa-light,
    .fa-regular,
    .fa-solid,
    .fa-thin,
    .fab,
    .fad,
    .fal,
    .far,
    .fas,
    .fat {
        -moz-osx-font-smoothing: grayscale;
        -webkit-font-smoothing: antialiased;
        display: var(--fa-display, inline-block);
        font-style: normal;
        font-variant: normal;
        line-height: 1;
        text-rendering: auto;
    }



    /* Right Side Article Two Exit */

    /* Main Content Section */

    /* Second upload img and vide etc. */

    .text-MainSecondCard {
        color: #676a79;
    }

    .text-MainSecondCard:hover {
        color: #0f6fec;
    }

    textarea {
        border: none;
        background-color: transparent;
        resize: none;
        outline: none;
    }

    /* Second Upload img and video etc. Exit */

    /* Lori Ferguson News Feed Section */
    .form-control {
        display: block;
        width: 100%;
        padding: 0.5rem 1rem;
        font-size: 0.9375rem;
        font-weight: 400;
        line-height: 1.5;
        color: #29292e;
        background-color: #fff;
        background-clip: padding-box;
        border: 1px solid #e1e4e6;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        border-radius: 0.4rem;
        -webkit-transition: border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
        transition: border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
        transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
        transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
    }

    input,
    button,
    select,
    optgroup,
    textarea {
        margin: 0;
        font-family: inherit;
        font-size: inherit;
        line-height: inherit;
    }

    textarea {
        writing-mode: horizontal-tb !important;
        font-family: monospace;
        text-rendering: auto;
        color: fieldtext;
        letter-spacing: normal;
        word-spacing: normal;
        line-height: normal;
        text-transform: none;
        text-indent: 0px;
        text-shadow: none;
        text-align: start;
        -webkit-rtl-ordering: logical;
        cursor: text;
        white-space: pre-wrap;
        overflow-wrap: break-word;
    }



    .lori-ferguson {
        color: #29292e;
        text-decoration: none;
    }

    /* Profile*/
    .lori-img {
        border: #0f6fec 2px solid;

    }

    /* Lori Ferguson News Feed Section Exit */

    /* Main Content Section Exit */
}

@media (min-width: 768px) {

    /* Left Side Article */
    .svg {
        width: 15%;
        margin: 5%;
    }

    .card-header {
        height: 50px !important;
    }



    .avatar-profile {
        margin-top: -2.3rem !important;
    }


    .avatar-profile {
        height: 4rem;
        width: 4rem;
        margin-left: 230px;
        position: absolute;
        display: inline-block;
        -ms-flex-negative: 0 !important;
        flex-shrink: 0 !important;
        border: 3px #fff solid;
    }

    .text-head {
        margin-top: 40px;
    }

    .text-head:hover {
        color: #0f6fec;
    }

    .card-down {
        color: #14191e;
    }

    .card-down:hover {
        color: #0f6fec;
    }

    h6 {
        color: #14191e;
    }

    .card-title {
        color: #14191e;
    }

    /* Left Side Article Exit */
    /* Right Side Article One */
    /* Btn Hover */
    .btn-primary-soft {
        color: #0f6fec;
        background-color: rgba(15, 111, 236, 0.1);
    }

    .btn-primary-soft:hover {
        color: #fff;
        background-color: #0f6fec;
    }

    /* Title Hover */
    .title {
        color: #29292e;
    }

    .title:hover {
        color: #0f6fec;
    }



    /* right Side H6 */

    .h6,
    h6 {
        font-size: 15px;
    }

    .h1,
    .h2,
    .h3,
    .h4,
    .h5,
    .h6,
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        margin-top: 0;
        margin-bottom: 0.5rem;
        font-weight: 500;
        line-height: 1.2;
    }



    /* Right Side Article One Exit */

    /* Right Side Article Two */

    /* Heading Icons */

    .card-header {
        background-color: white !important;
    }

    .avatar-img {
        width: 3rem;
        height: 3rem;
        -o-object-fit: cover;
        object-fit: cover;
    }

    .mb-3 {
        margin-bottom: 1rem !important;
    }

    .gap-2 {
        gap: 0.5rem !important;
    }

    .hstack {
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-direction: row;
        flex-direction: row;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -ms-flex-item-align: stretch;
        align-self: stretch;
    }

    .amanda {
        border: 2px solid #0d6efd;
    }

    /* Heading Icon Exit */

    /* icon */
    .fa-solid,
    .fas {
        font-family: "Font Awesome 6 Free";
        font-weight: 900;
    }

    .fa,
    .fa-brands,
    .fa-duotone,
    .fa-light,
    .fa-regular,
    .fa-solid,
    .fa-thin,
    .fab,
    .fad,
    .fal,
    .far,
    .fas,
    .fat {
        -moz-osx-font-smoothing: grayscale;
        -webkit-font-smoothing: antialiased;
        display: var(--fa-display, inline-block);
        font-style: normal;
        font-variant: normal;
        line-height: 1;
        text-rendering: auto;
    }



    /* Right Side Article Two Exit */

    /* Main Content Section */

    /* Second upload img and vide etc. */

    .text-MainSecondCard {
        color: #676a79;
    }

    .text-MainSecondCard:hover {
        color: #0f6fec;
    }

    textarea {
        border: none;
        background-color: transparent;
        resize: none;
        outline: none;
    }

    /* Second Upload img and video etc. Exit */

    /* Lori Ferguson News Feed Section */
    .form-control {
        display: block;
        width: 100%;
        padding: 0.5rem 1rem;
        font-size: 0.9375rem;
        font-weight: 400;
        line-height: 1.5;
        color: #29292e;
        background-color: #fff;
        background-clip: padding-box;
        border: 1px solid #e1e4e6;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        border-radius: 0.4rem;
        -webkit-transition: border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
        transition: border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
        transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
        transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
    }

    input,
    button,
    select,
    optgroup,
    textarea {
        margin: 0;
        font-family: inherit;
        font-size: inherit;
        line-height: inherit;
    }

    textarea {
        writing-mode: horizontal-tb !important;
        font-family: monospace;
        text-rendering: auto;
        color: fieldtext;
        letter-spacing: normal;
        word-spacing: normal;
        line-height: normal;
        text-transform: none;
        text-indent: 0px;
        text-shadow: none;
        text-align: start;
        -webkit-rtl-ordering: logical;
        cursor: text;
        white-space: pre-wrap;
        overflow-wrap: break-word;
    }



    .lori-ferguson {
        color: #29292e;
        text-decoration: none;
    }

    /* Profile*/
    .lori-img {
        border: #0f6fec 2px solid;

    }

    /* Lori Ferguson News Feed Section Exit */

    /* Main Content Section Exit */
}

@media (min-width: 991px) {

    /* Left Side Article */
    .svg {
        width: 15%;
        margin: 5%;
    }

    .card-header {
        height: 50px !important;
    }



    .avatar-profile {
        margin-top: -2.3rem !important;
    }


    .avatar-profile {
        height: 4rem;
        width: 4rem;
        margin-left: 235px;
        position: absolute;
        display: inline-block;
        -ms-flex-negative: 0 !important;
        flex-shrink: 0 !important;
        border: 3px #fff solid;
    }

    .text-head {
        margin-top: 40px;
    }

    .text-head:hover {
        color: #0f6fec;
    }

    .card-down {
        color: #14191e;
    }

    .card-down:hover {
        color: #0f6fec;
    }

    h6 {
        color: #14191e;
    }

    .card-title {
        color: #14191e;
    }

    /* Left Side Article Exit */
    /* Right Side Article One */
    /* Btn Hover */
    .btn-primary-soft {
        color: #0f6fec;
        background-color: rgba(15, 111, 236, 0.1);
    }

    .btn-primary-soft:hover {
        color: #fff;
        background-color: #0f6fec;
    }

    /* Title Hover */
    .title {
        color: #29292e;
    }

    .title:hover {
        color: #0f6fec;
    }



    /* right Side H6 */

    .h6,
    h6 {
        font-size: 15px;
    }

    .h1,
    .h2,
    .h3,
    .h4,
    .h5,
    .h6,
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        margin-top: 0;
        margin-bottom: 0.5rem;
        font-weight: 500;
        line-height: 1.2;
    }



    /* Right Side Article One Exit */

    /* Right Side Article Two */

    /* Heading Icons */

    .card-header {
        background-color: white !important;
    }

    .avatar-img {
        width: 3rem;
        height: 3rem;
        -o-object-fit: cover;
        object-fit: cover;
    }

    .mb-3 {
        margin-bottom: 1rem !important;
    }

    .gap-2 {
        gap: 0.5rem !important;
    }

    .hstack {
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-direction: row;
        flex-direction: row;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -ms-flex-item-align: stretch;
        align-self: stretch;
    }

    .amanda {
        border: 2px solid #0d6efd;
    }

    /* Heading Icon Exit */

    /* icon */
    .fa-solid,
    .fas {
        font-family: "Font Awesome 6 Free";
        font-weight: 900;
    }

    .fa,
    .fa-brands,
    .fa-duotone,
    .fa-light,
    .fa-regular,
    .fa-solid,
    .fa-thin,
    .fab,
    .fad,
    .fal,
    .far,
    .fas,
    .fat {
        -moz-osx-font-smoothing: grayscale;
        -webkit-font-smoothing: antialiased;
        display: var(--fa-display, inline-block);
        font-style: normal;
        font-variant: normal;
        line-height: 1;
        text-rendering: auto;
    }



    /* Right Side Article Two Exit */

    /* Main Content Section */

    /* Second upload img and vide etc. */

    .text-MainSecondCard {
        color: #676a79;
    }

    .text-MainSecondCard:hover {
        color: #0f6fec;
    }

    textarea {
        border: none;
        background-color: transparent;
        resize: none;
        outline: none;
    }

    /* Second Upload img and video etc. Exit */

    /* Lori Ferguson News Feed Section */
    .form-control {
        display: block;
        width: 100%;
        padding: 0.5rem 1rem;
        font-size: 0.9375rem;
        font-weight: 400;
        line-height: 1.5;
        color: #29292e;
        background-color: #fff;
        background-clip: padding-box;
        border: 1px solid #e1e4e6;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        border-radius: 0.4rem;
        -webkit-transition: border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
        transition: border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
        transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
        transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
    }

    input,
    button,
    select,
    optgroup,
    textarea {
        margin: 0;
        font-family: inherit;
        font-size: inherit;
        line-height: inherit;
    }

    textarea {
        writing-mode: horizontal-tb !important;
        font-family: monospace;
        text-rendering: auto;
        color: fieldtext;
        letter-spacing: normal;
        word-spacing: normal;
        line-height: normal;
        text-transform: none;
        text-indent: 0px;
        text-shadow: none;
        text-align: start;
        -webkit-rtl-ordering: logical;
        cursor: text;
        white-space: pre-wrap;
        overflow-wrap: break-word;
    }



    .lori-ferguson {
        color: #29292e;
        text-decoration: none;
    }

    /* Profile*/
    .lori-img {
        border: #0f6fec 2px solid;

    }

    /* Lori Ferguson News Feed Section Exit */

    /* Main Content Section Exit */
}

@media (min-width: 992px) {

    /* Left Side Article */
    .svg {
        width: 15%;
        margin: 5%;
    }

    .card-header {
        height: 50px !important;
    }



    .avatar-profile {
        margin-top: -2.3rem !important;
    }


    .avatar-profile {
        height: 4rem;
        width: 4rem;
        margin-left: 5px;
        position: absolute;
        display: inline-block;
        -ms-flex-negative: 0 !important;
        flex-shrink: 0 !important;
        border: 3px #fff solid;
    }

    .text-head {
        margin-top: 40px;
    }

    .text-head:hover {
        color: #0f6fec;
    }

    .card-down {
        color: #14191e;
    }

    .card-down:hover {
        color: #0f6fec;
    }

    h6 {
        color: #14191e;
    }

    .card-title {
        color: #14191e;
    }

    /* Left Side Article Exit */
    /* Right Side Article One */
    /* Btn Hover */
    .btn-primary-soft {
        color: #0f6fec;
        background-color: rgba(15, 111, 236, 0.1);
    }

    .btn-primary-soft:hover {
        color: #fff;
        background-color: #0f6fec;
    }

    /* Title Hover */
    .title {
        color: #29292e;
    }

    .title:hover {
        color: #0f6fec;
    }



    /* right Side H6 */

    .h6,
    h6 {
        font-size: 15px;
    }

    .h1,
    .h2,
    .h3,
    .h4,
    .h5,
    .h6,
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        margin-top: 0;
        margin-bottom: 0.5rem;
        font-weight: 500;
        line-height: 1.2;
    }



    /* Right Side Article One Exit */

    /* Right Side Article Two */

    /* Heading Icons */

    .card-header {
        background-color: white !important;
    }

    .avatar-img {
        width: 3rem;
        height: 3rem;
        -o-object-fit: cover;
        object-fit: cover;
    }

    .mb-3 {
        margin-bottom: 1rem !important;
    }

    .gap-2 {
        gap: 0.5rem !important;
    }

    .hstack {
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-direction: row;
        flex-direction: row;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -ms-flex-item-align: stretch;
        align-self: stretch;
    }

    .amanda {
        border: 2px solid #0d6efd;
    }

    /* Heading Icon Exit */

    /* icon */
    .fa-solid,
    .fas {
        font-family: "Font Awesome 6 Free";
        font-weight: 900;
    }

    .fa,
    .fa-brands,
    .fa-duotone,
    .fa-light,
    .fa-regular,
    .fa-solid,
    .fa-thin,
    .fab,
    .fad,
    .fal,
    .far,
    .fas,
    .fat {
        -moz-osx-font-smoothing: grayscale;
        -webkit-font-smoothing: antialiased;
        display: var(--fa-display, inline-block);
        font-style: normal;
        font-variant: normal;
        line-height: 1;
        text-rendering: auto;
    }



    /* Right Side Article Two Exit */

    /* Main Content Section */

    /* Second upload img and vide etc. */

    .text-MainSecondCard {
        color: #676a79;
    }

    .text-MainSecondCard:hover {
        color: #0f6fec;
    }

    textarea {
        border: none;
        background-color: transparent;
        resize: none;
        outline: none;
    }

    /* Second Upload img and video etc. Exit */

    /* Lori Ferguson News Feed Section */
    .form-control {
        display: block;
        width: 100%;
        padding: 0.5rem 1rem;
        font-size: 0.9375rem;
        font-weight: 400;
        line-height: 1.5;
        color: #29292e;
        background-color: #fff;
        background-clip: padding-box;
        border: 1px solid #e1e4e6;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        border-radius: 0.4rem;
        -webkit-transition: border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
        transition: border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
        transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
        transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
    }

    input,
    button,
    select,
    optgroup,
    textarea {
        margin: 0;
        font-family: inherit;
        font-size: inherit;
        line-height: inherit;
    }

    textarea {
        writing-mode: horizontal-tb !important;
        font-family: monospace;
        text-rendering: auto;
        color: fieldtext;
        letter-spacing: normal;
        word-spacing: normal;
        line-height: normal;
        text-transform: none;
        text-indent: 0px;
        text-shadow: none;
        text-align: start;
        -webkit-rtl-ordering: logical;
        cursor: text;
        white-space: pre-wrap;
        overflow-wrap: break-word;
    }



    .lori-ferguson {
        color: #29292e;
        text-decoration: none;
    }

    /* Profile*/
    .lori-img {
        border: #0f6fec 2px solid;

    }

    /* Lori Ferguson News Feed Section Exit */

    /* Main Content Section Exit */
}

@media (min-width: 1200px) {

    /* Left Side Article */
    .svg {
        width: 15%;
        margin: 5%;
    }

    .card-header {
        height: 50px !important;
    }



    .avatar-profile {
        margin-top: -2.3rem !important;
    }


    .avatar-profile {
        height: 4rem;
        width: 4rem;
        margin-left: 25px;
        position: absolute;
        display: inline-block;
        -ms-flex-negative: 0 !important;
        flex-shrink: 0 !important;
        border: 3px #fff solid;
    }

    .text-head {
        margin-top: 40px;
    }

    .text-head:hover {
        color: #0f6fec;
    }

    .card-down {
        color: #14191e;
    }

    .card-down:hover {
        color: #0f6fec;
    }

    h6 {
        color: #14191e;
    }

    .card-title {
        color: #14191e;
    }

    /* Left Side Article Exit */
    /* Right Side Article One */
    /* Btn Hover */
    .btn-primary-soft {
        color: #0f6fec;
        background-color: rgba(15, 111, 236, 0.1);
    }

    .btn-primary-soft:hover {
        color: #fff;
        background-color: #0f6fec;
    }

    /* Title Hover */
    .title {
        color: #29292e;
    }

    .title:hover {
        color: #0f6fec;
    }



    /* right Side H6 */

    .h6,
    h6 {
        font-size: 15px;
    }

    .h1,
    .h2,
    .h3,
    .h4,
    .h5,
    .h6,
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        margin-top: 0;
        margin-bottom: 0.5rem;
        font-weight: 500;
        line-height: 1.2;
    }



    /* Right Side Article One Exit */

    /* Right Side Article Two */

    /* Heading Icons */

    .card-header {
        background-color: white !important;
    }

    .avatar-img {
        width: 3rem;
        height: 3rem;
        -o-object-fit: cover;
        object-fit: cover;
    }

    .mb-3 {
        margin-bottom: 1rem !important;
    }

    .gap-2 {
        gap: 0.5rem !important;
    }

    .hstack {
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-direction: row;
        flex-direction: row;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -ms-flex-item-align: stretch;
        align-self: stretch;
    }

    .amanda {
        border: 2px solid #0d6efd;
    }

    /* Heading Icon Exit */

    /* icon */
    .fa-solid,
    .fas {
        font-family: "Font Awesome 6 Free";
        font-weight: 900;
    }

    .fa,
    .fa-brands,
    .fa-duotone,
    .fa-light,
    .fa-regular,
    .fa-solid,
    .fa-thin,
    .fab,
    .fad,
    .fal,
    .far,
    .fas,
    .fat {
        -moz-osx-font-smoothing: grayscale;
        -webkit-font-smoothing: antialiased;
        display: var(--fa-display, inline-block);
        font-style: normal;
        font-variant: normal;
        line-height: 1;
        text-rendering: auto;
    }



    /* Right Side Article Two Exit */

    /* Main Content Section */

    /* Second upload img and vide etc. */

    .text-MainSecondCard {
        color: #676a79;
    }

    .text-MainSecondCard:hover {
        color: #0f6fec;
    }

    textarea {
        border: none;
        background-color: transparent;
        resize: none;
        outline: none;
    }

    /* Second Upload img and video etc. Exit */

    /* Lori Ferguson News Feed Section */
    .form-control {
        display: block;
        width: 100%;
        padding: 0.5rem 1rem;
        font-size: 0.9375rem;
        font-weight: 400;
        line-height: 1.5;
        color: #29292e;
        background-color: #fff;
        background-clip: padding-box;
        border: 1px solid #e1e4e6;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        border-radius: 0.4rem;
        -webkit-transition: border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
        transition: border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
        transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
        transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
    }

    input,
    button,
    select,
    optgroup,
    textarea {
        margin: 0;
        font-family: inherit;
        font-size: inherit;
        line-height: inherit;
    }

    textarea {
        writing-mode: horizontal-tb !important;
        font-family: monospace;
        text-rendering: auto;
        color: fieldtext;
        letter-spacing: normal;
        word-spacing: normal;
        line-height: normal;
        text-transform: none;
        text-indent: 0px;
        text-shadow: none;
        text-align: start;
        -webkit-rtl-ordering: logical;
        cursor: text;
        white-space: pre-wrap;
        overflow-wrap: break-word;
    }



    .lori-ferguson {
        color: #29292e;
        text-decoration: none;
    }

    /* Profile*/
    .lori-img {
        border: #0f6fec 2px solid;

    }

    /* Lori Ferguson News Feed Section Exit */

    /* Main Content Section Exit */
}

@media (min-width: 1400px) {

    /* Left Side Article */
    .svg {
        width: 15%;
        margin: 5%;
    }

    .card-header {
        height: 50px !important;
    }



    .avatar-profile {
        margin-top: -2.3rem !important;
    }


    .avatar-profile {
        height: 4rem;
        width: 4rem;
        margin-left: 45px;
        position: absolute;
        display: inline-block;
        -ms-flex-negative: 0 !important;
        flex-shrink: 0 !important;
        border: 3px #fff solid;
    }

    .text-head {
        margin-top: 40px;
    }

    .text-head:hover {
        color: #0f6fec;
    }

    .card-down {
        color: #14191e;
    }

    .card-down:hover {
        color: #0f6fec;
    }

    h6 {
        color: #14191e;
    }

    .card-title {
        color: #14191e;
    }

    /* Left Side Article Exit */
    /* Right Side Article One */
    /* Btn Hover */
    .btn-primary-soft {
        color: #0f6fec;
        background-color: rgba(15, 111, 236, 0.1);
    }

    .btn-primary-soft:hover {
        color: #fff;
        background-color: #0f6fec;
    }

    /* Title Hover */
    .title {
        color: #29292e;
    }

    .title:hover {
        color: #0f6fec;
    }



    /* right Side H6 */

    .h6,
    h6 {
        font-size: 15px;
    }

    .h1,
    .h2,
    .h3,
    .h4,
    .h5,
    .h6,
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        margin-top: 0;
        margin-bottom: 0.5rem;
        font-weight: 500;
        line-height: 1.2;
    }



    /* Right Side Article One Exit */

    /* Right Side Article Two */

    /* Heading Icons */

    .card-header {
        background-color: white !important;
    }

    .avatar-img {
        width: 3rem;
        height: 3rem;
        -o-object-fit: cover;
        object-fit: cover;
    }

    .mb-3 {
        margin-bottom: 1rem !important;
    }

    .gap-2 {
        gap: 0.5rem !important;
    }

    .hstack {
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-direction: row;
        flex-direction: row;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -ms-flex-item-align: stretch;
        align-self: stretch;
    }

    .amanda {
        border: 2px solid #0d6efd;
    }

    /* Heading Icon Exit */

    /* icon */
    .fa-solid,
    .fas {
        font-family: "Font Awesome 6 Free";
        font-weight: 900;
    }

    .fa,
    .fa-brands,
    .fa-duotone,
    .fa-light,
    .fa-regular,
    .fa-solid,
    .fa-thin,
    .fab,
    .fad,
    .fal,
    .far,
    .fas,
    .fat {
        -moz-osx-font-smoothing: grayscale;
        -webkit-font-smoothing: antialiased;
        display: var(--fa-display, inline-block);
        font-style: normal;
        font-variant: normal;
        line-height: 1;
        text-rendering: auto;
    }



    /* Right Side Article Two Exit */

    /* Main Content Section */

    /* Second upload img and vide etc. */

    .text-MainSecondCard {
        color: #676a79;
    }

    .text-MainSecondCard:hover {
        color: #0f6fec;
    }

    textarea {
        border: none;
        background-color: transparent;
        resize: none;
        outline: none;
    }

    /* Second Upload img and video etc. Exit */

    /* Lori Ferguson News Feed Section */
    .form-control {
        display: block;
        width: 100%;
        padding: 0.5rem 1rem;
        font-size: 0.9375rem;
        font-weight: 400;
        line-height: 1.5;
        color: #29292e;
        background-color: #fff;
        background-clip: padding-box;
        border: 1px solid #e1e4e6;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        border-radius: 0.4rem;
        -webkit-transition: border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
        transition: border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
        transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
        transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
    }

    input,
    button,
    select,
    optgroup,
    textarea {
        margin: 0;
        font-family: inherit;
        font-size: inherit;
        line-height: inherit;
    }

    textarea {
        writing-mode: horizontal-tb !important;
        font-family: monospace;
        text-rendering: auto;
        color: fieldtext;
        letter-spacing: normal;
        word-spacing: normal;
        line-height: normal;
        text-transform: none;
        text-indent: 0px;
        text-shadow: none;
        text-align: start;
        -webkit-rtl-ordering: logical;
        cursor: text;
        white-space: pre-wrap;
        overflow-wrap: break-word;
    }



    .lori-ferguson {
        color: #29292e;
        text-decoration: none;
    }

    /* Profile*/
    .lori-img {
        border: #0f6fec 2px solid;

    }

    /* Lori Ferguson News Feed Section Exit */

    /* Main Content Section Exit */
}